@import 'primereact/resources/primereact.min.css';
@import 'primereact/resources/themes/lara-dark-purple/theme.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import 'normalize.css';

/**
 * sm: => small screens e.g. phones     => @media screen and (min-width: 576px)
 * md: => medium screens e.g. tablets   => @media screen and (min-width: 768px)
 * lg: => large screens e.g. notebooks  => @media screen and (min-width: 992px)
 * xl: => larger screens e.g monitors   => @media screen and (min-width: 1200px)
 */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
